# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv311
py310

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS X
.DS_Store

# Project specific
poppler/
uploads/
data/

# Jupyter Notebook
.ipynb_checkpoints
models/

# Generated Logs and Reports
clean_log.txt
interim_task.md
Interim_Report_Full.md
